---
---

@import "{{ site.theme }}";

footer span.ribbon-inner a {
  position: relative;
  bottom: -1px;
  color: #7eb0d2;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.2em;
}
